* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    color: darkblue;
    padding: 0;
    margin: 0;
}

:root {
    /* responsive font size: https://websemantics.uk/tools/responsive-font-calculator/ */
    font-size: clamp(12px, calc(0.75rem + ((1vw - 3px) * 0.3704)), 18px);
    min-height: 0vw; /* safari fix */
    --background-color-1: cornflowerblue;
    --background-color-2: skyblue;
    --padding: 1em;
}

body {
    display: grid;
    grid-template-rows: 10vh 10vh 60vh 10vh 10vh;
    grid-template-areas:
                "header"
                "aside_left"
                "article"
                "aside_right"
                "footer";
    height: 100vh;
    margin: 0;
}

ul {
    list-style-type: none;
    text-transform: capitalize;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

#header {
    grid-area: header;
    background-color: var(--background-color-1);
}

#header nav:not(.user_management) {
    height: 5vh;
    margin-top: 5vh;
}

#header nav.user_management {
    position:absolute;
    right:1em;
    top:1em;
}

#header nav.user_management li {
    padding-left:1em;
}

aside{
    padding-top: var(--padding);
}

#aside_left {
    grid-area: aside_left;
    background-color: var(--background-color-2);
    padding-left: var(--padding);
}

#aside_right {
    grid-area: aside_right;
    background-color: var(--background-color-2);
    padding-left: var(--padding);
}

#article {
    grid-area: article;
    padding: var(--padding);
}

td{
    padding:0.5em;
}

#footer {
    grid-area: footer;
    background-color: var(--background-color-1)
}

@media screen and (min-width: 400px) {
    body {
        grid-template-columns: 30% 70%;
        grid-template-rows: 20% 100% 20% 20%;
        grid-template-areas:
                    "header header"
                    "aside_left article"
                    "aside_right aside_right"
                    "footer footer"
    }

    #header nav:not(.user_management) ul{
        height: 5vh;
        margin-top: 15vh;
    }

    #aside_left ul {
        flex-direction: column;
    }

    #aside_left li {
        padding-bottom: var(--padding);
    }
}

@media screen and (min-width: 600px) {
    body {
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 20% 70% 10%;
        grid-template-areas:
                    "header header header"
                    "aside_left article aside_right"
                    "footer footer footer"
    }

    #aside_right ul {
        flex-direction: column;
    }

    #aside_right li {
        padding-bottom: var(--padding);
    }
}