

:root {
    /* responsive font size: https://websemantics.uk/tools/responsive-font-calculator/ */
    font-size: clamp(12px, calc(0.75rem + ((1vw - 3px) * 0.3704)), 18px);
    min-height: 0vw; /* safari fix */

    --color-primary: #0f4257;
    --color-secondary: gray;
    --color-activity: darkorange;
    --color-tile: #c5e7f5;
    --color-border: lightgray;

    --padding-small: 0.25em;
    --padding-medium: 0.5em;
    --padding-big: 1em;
    --padding-huge: 2em;

    --radius-small:5px;
    --radius-medium:10px;
    --radius-big:20px;

    --width-border:2px;
}

* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    color: var(--color-primary);
    margin: 0;
    padding: 0;
}

/* main grid ----------------------------------------------------------------*/

body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 15vh auto 10vh;
    grid-template-areas:
                "header"
                "article"
                "footer";
}

header {
    grid-area: header;
    padding: var(--padding-small);
}

header h1, header h2 {
    display: inline;
}

header h2, header h2 *{
    color: var(--color-secondary);
}

article {
    grid-area: article;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

footer div {
    width: 25%;
    text-align: center;
    font-weight: bold;
}

footer *{
    color:var(--color-secondary);
}

footer a{
    color:var(--color-primary);
}

footer a:hover{
    color:var(--color-activity);
}

/* login message ------------------------------------------------------------*/

#login_message{
    font-weight: bold;
    padding: var(--padding-small);
}

#login_error{
    color:var(--color-activity);
    animation-duration: 0.5s;
    animation-iteration-count: 4;
    animation-name: highlightLoginError;
}

@keyframes highlightLoginError {
    0% {
        background-color: initial;
    }
    100% {
        color: red;
        background-color: yellow;
    }
}


/* sections -----------------------------------------------------------------*/

section {
    background: white;
    min-height: 75vh; /* 100 - header - footer */
}

section h3 {
    min-height: 5vh;
    position: sticky;
    top:0;
    padding: var(--padding-small);
    background: inherit;
}

section h4 {
    min-height: 5vh;
    position: sticky;
    top:5vh;
    padding: var(--padding-small);
    background: inherit;

}

section:nth-child(odd) {
    background: var(--color-tile);
    border: var(--width-border) solid var(--color-border);
    border-radius: var(--radius-medium);
}

/* tasks --------------------------------------------------------------------*/

.taskInfo {
    min-height: 10vh;
    padding: var(--padding-small) var(--padding-small) var(--padding-small) var(--padding-huge);
}

.taskDetails {
    height: 55vh;
}

.taskLinks {
    font-weight: bold;
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.taskTemplate {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.taskTemplate > * {
    max-width: 90%;
    max-height: 100%;
    border: var(--width-border) solid var(--color-border);
    border-radius: var(--radius-small);
}

.taskTemplate > img {
    /* source: https://stackoverflow.com/a/30794589 */
    object-fit: cover;
}

@media screen and (min-width: 300px) {
    .taskLinks a {
        font-weight: bold;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        border-radius: var(--radius-small);
        padding: var(--padding-small);
        border: var(--width-border) solid var(--color-border);
    }

    .taskLinks a:hover {
        border-color: var(--color-primary);
    }

    .taskLinks a:after {
        content: " ↗";
    }

    section:hover .taskLinks a {
        color: var(--color-primary);
    }

    section:hover .taskLinks a:hover {
        color: var(--color-activity);
    }
}

/* more / less-links --------------------------------------------------------*/

.taskInfo a{
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.taskInfo a:hover{
    color:var(--color-activity);
}

.taskInfo a:after{
    content: "mehr";
}

.taskInfo .more a:after{
    content: "weniger";
}

.taskInfo .rest{
    display:none;
}

.taskInfo .more .rest{
    display:inline;
}

.taskInfo .cut:after{
    content: "...";
}

.taskInfo .more .cut{
    display:none;
}

/* menu ---------------------------------------------------------------------*/

#menu {
    position: fixed;
    top:0;
    right: 0;
    background: white;
    padding: var(--padding-big);
    font-weight: bold;
    border-bottom-left-radius: var(--radius-big);
    border-top-left-radius: var(--radius-big);
    box-shadow: 5px 5px rgba(100, 100, 100, 0.125);
    border: var(--width-border) solid var(--color-border);
    opacity: 0.8;
}

#menu:hover {
    opacity: 1;
}

#menu:hover #menuContent {
    display: block;
}

#menuToggle img, #menuToggle span {
    height: 1.2em; /* auto scales svg */
    vertical-align: top;
}

#menuToggle svg {
    fill: var(--color-primary)
}

#menuContent {
    padding-top: var(--padding-big);
    display: none;
}

#menuContent > * {
    display: block;
    margin-bottom: 1em;
}

#menuContent a,
#menuContent input[type=button],
#menuContent input[type=submit] {
    text-decoration: none;
    border: var(--width-border) solid var(--color-border);
    border-radius: var(--radius-small);
    padding:var(--padding-medium);
    cursor: pointer;
    background: white;
    text-align: center;
    font-weight: bold;
}

#menuContent a:hover,
#menuContent input[type=button]:hover,
#menuContent input[type=submit]:hover {
    border-color: var(--color-primary);
    color: var(--color-activity);
}

#menuContent input {
    font-size: inherit;
    text-decoration: none;
    border: var(--width-border) solid var(--color-border);
    border-radius: var(--radius-small);
    padding:var(--padding-medium);
}

#menuContent input:hover {
    border-color: var(--color-primary);
}

/* table of contents - display ----------------------------------------------*/

#tocDisplay {
    background: white;
    border-radius: var(--radius-big);
    box-shadow: 10px 10px rgba(100, 100, 100, 0.125);
    width: 90vw;
    height: 80vh;
    position: fixed;
    top: 10vh;
    left: 5vw;
    border: var(--width-border) solid var(--color-border);
    overflow-y: auto;
}

/* close button */
#tocDisplay > a {
    color: var(--color-primary);
    text-decoration: none;
    padding: var(--padding-small);
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    font-size: 2em;
    height: 2em;
    width: 2em;
    display: block;
    text-align: center;
    vertical-align: center;
    top: 0;
    right: 0;
    background: white;
    border-bottom-left-radius: var(--radius-big);
    border-top-right-radius: var(--radius-big);
    opacity: 0.8;
    border: var(--width-border) solid var(--color-border);
    border-top: none;
    border-right: none;
}

#tocDisplay > a:hover {
    opacity: 1;
    border-color: var(--color-primary);
}

#tocDisplay:hover {
    opacity: 1;
}

#tocDisplay.hidden {
    display: none;
}

#tocDisplay.shown {
    display: block;
}

#tocDisplay ul, #tocDisplay li {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tocDisplay > ul {
    padding-top: var(--padding-huge);
    padding-left: var(--padding-big);
    padding-right: var(--padding-big);
    height: available;
    overflow-y: auto;
}

#tocDisplay > ul > li {
    padding-top: var(--padding-big);
    font-weight: bold;
}

#tocDisplay > ul > li > ul {
    padding-left: var(--padding-big);
}

#tocDisplay ul a {
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
}

#tocDisplay a:hover {
    color: var(--color-activity);
}

/* animated highlight https://stackoverflow.com/a/41391835 */
.taskHighlight {
    animation-duration: 0.25s;
    animation-iteration-count: 3;
    animation-name: turnYellow;
}

@keyframes turnYellow {
    0% {
        background-color: initial
    }
    100% {
        background-color: rgba(255, 255, 0, 0.5)
    }
}

/* search -------------------------------------------------------------------*/

section.searchMatch {
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-name: blinkGreen;
}

section.noSearchMatch {
    display: none;
}

@keyframes blinkGreen {
    0% {
        background-color: initial
    }
    50% {
        background-color: rgba(0, 255, 0, 0.5)
    }
    100% {
        background-color: initial
    }
}

/* login/logout menu --------------------------------------------------------*/

#menu #app form {
    display: flex;
    flex-direction: column;
}

#menu input{
    min-width:15vw;
}

#menu input.error{
    animation-duration: 0.5s;
    animation-iteration-count: 4;
    animation-name: blinkRed;
}

@keyframes blinkRed {
    0% {
        background-color: white;
    }
    50% {
        background-color: rgba(255, 0, 0, 0.5);
    }
    100% {
        background-color: white;
    }
}
/* breakpoint: 400px width --------------------------------------------------*/

@media screen and (min-width: 400px) {
    header h1, header h2 {
        display: block;
    }

    .taskDetails {
        display: grid;
        grid-template-columns: 50vw 45vw;
        grid-template-areas:
                "template links";
    }

    .taskLinks {
        grid-area: links;
        flex-direction: column;
        min-height: 55vh;
    }

    .taskLinks a {
        width: 90%;
    }

    .taskTemplate {
        grid-area: template;
        justify-content: center;
    }

    #tocDisplay {
        width: 70vw;
        height: 70vh;
        top: 15vh;
        left: 15vw;
    }
}

/* breakpoint: 800px width --------------------------------------------------*/

/* two column layout */
@media screen and (min-width: 800px) {
    article {
        display: flex;
        flex-wrap: wrap;
    }

    section {
        width: 49vw; /* 50 doesn't work because of scroll bar width */
    }

    section h3 {
        position: static;
    }

    section h4 {
        position: static;
    }

    section:nth-child(odd) {
        border: none;
    }

    /* checkerboard layout
        source: https://www.stphnsn.com/blog/alternating-boxes/ */
    section:nth-child(1n) {
        background-color: white;
    }

    section:nth-child(4n+1),
    section:nth-child(4n+4) {
        background-color: var(--color-tile);
        border: var(--width-border) solid var(--color-border);
        border-radius: var(--radius-medium);
    }

    .taskDetails {
        grid-template-columns: 34vw 15vw; /* = section width */
    }

    .taskLinks a {
        color: lightgray;
        border-color: transparent;
    }

    .taskLinks a:after {
        content: " ";
    }

    .taskLinks a:hover {
        border-color: var(--color-primary);
    }

    section:hover .taskLinks a {
        color: var(--color-primary);
        border: var(--width-border) solid var(--color-border);
    }

    section:hover .taskLinks a:hover {
        border-color: var(--color-primary);
    }

    section:hover .taskLinks a:after {
        content: " ↗";
    }


    #tocDisplay {
        width: 50vw;
        height: 50vh;
        top: 25vh;
        left: 25vw;
    }
}

/* breakpoint: 1200px width --------------------------------------------------*/

/* three column lyaout */
@media screen and (min-width: 1200px) {
    section {
        width: 32vw;
    }

    /* checkerboard layout */
    section:nth-child(odd) {
        background: var(--color-tile);
        border: var(--width-border) solid var(--color-border);
        border-radius: var(--radius-medium);
    }

    section:nth-child(even) {
        background: white;
        border: none;
    }

    .taskDetails {
        grid-template-columns: 22vw 10vw; /* = section width */
    }

    #tocDisplay {
        width: 40vw;
        height: 50vh;
        top: 25vh;
        left: 30vw;
    }
}

/* fixes vor very narrow screens --------------------------------------------*/

@media screen and (max-width: 300px) {
    body {
        overflow-x: hidden;
    }

    header h1 span, header h2 span {
        display: none;
    }
}

/* background colors for debugging ------------------------------------------*/

body.development header {
    background: red;
}

body.development article {
    background: green;
}

body.development footer {
    background: lightcoral;
}

body.development footer div {
    background: violet;
}

body.development section {
    background: black;
}

body.development section h3 {
    background: brown;
}

body.development section h4 {
    background: cadetblue;
}

body.development section {
    background: yellow;
}

body.development .taskInfo {
    background: purple;
}

body.development .taskDetails {
    background: skyblue;
}

body.development .taskDetails .taskTemplate {
    background: forestgreen;
}

body.development .taskDetails .taskLinks {
    background: orange;
}

/* e-m-a-i-l -----------------------------------------------------------------*/

/* https://stackoverflow.com/a/41566570 */
.e-m-a-i-l:after {
    content: "E-Mail";
}