
* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    color: #0f4257;
    margin: 0;
    padding: 0;
}

:root {
    /* responsive font size: https://websemantics.uk/tools/responsive-font-calculator/ */
    font-size: clamp(12px, calc(0.75rem + ((1vw - 3px) * 0.3704)), 18px);
    min-height: 0vw; /* safari fix */
    --alternate-color: #d6eef8;
}

/* main grid ----------------------------------------------------------------*/

body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 15vh auto 10vh;
    grid-template-areas:
                "header"
                "article"
                "footer";
}

header {
    grid-area: header;
    padding: 0.25em;
}

header h1, header h2 {
    display: inline;
}

article {
    grid-area: article;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

footer div {
    width: 25%;
    text-align: center;
}

/* login message ------------------------------------------------------------*/

#login_message{
    font-weight: bold;
    padding: 0.25em;
    color:darkorange;
}

#login_error{
    animation-duration: 0.25s;
    animation-iteration-count: 8;
    animation-name: highlightLoginError;
}

@keyframes highlightLoginError {
    0% {
        background-color: initial
    }
    100% {
        color: red;
        background-color: yellow;
    }
}


/* sections -----------------------------------------------------------------*/

section {
    min-height: 75vh; /* 100 - header - footer */
}

section h3 {
    min-height: 5vh;
    padding: 0.25em;
}

section h4 {
    min-height: 5vh;
    padding: 0.25em;
}

section:nth-child(odd) {
    background: var(--alternate-color);
    border: 2px solid lightgray;
    border-radius: 10px;
}

/* tasks --------------------------------------------------------------------*/

.taskInfo {
    min-height: 10vh;
    padding: 0.25em 0.25em 0.25em 2em;
}

.taskDetails {
    height: 55vh;
}

.taskLinks {
    font-weight: bold;
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.taskTemplate {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.taskTemplate > * {
    max-width: 90%;
    max-height: 100%;
    border: 2px solid lightgray;
    border-radius: 5px;
}

.taskTemplate > img {
    /* source: https://stackoverflow.com/a/30794589 */
    object-fit: cover;
}

@media screen and (min-width: 300px) {
    .taskLinks a {
        font-weight: bold;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        padding: 0.25em;
        border: 2px solid lightgray;
    }

    .taskLinks a:hover {
        border-color: #0f4257;
    }

    .taskLinks a:after {
        content: " ↗";
    }

    section:hover .taskLinks a {
        color: #0f4257;
    }

    section:hover .taskLinks a:hover {
        color: darkorange;
    }
}

/* menu ---------------------------------------------------------------------*/

#menu {
    position: fixed;
    top: 15vh;
    right: 0px;
    background: white;
    padding: 1em;
    font-weight: bold;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 5px 5px rgba(100, 100, 100, 0.125);
    border: 2px solid lightgray;
    opacity: 0.8;
}

#menu:hover {
    opacity: 1;
}

#menu:hover #menuContent {
    display: block;
}

#menuToggle svg, #menuToggle span {
    height: 1.2em; /* auto scales svg */
    vertical-align: top;
}

#menuToggle svg {
    fill: #0f4257
}

#menuContent {
    margin-top: 1em;
    display: none;
}

#menuContent > * {
    display: block;
    margin-bottom: 1em;
}

#menuContent a,
#menuContent input[type=button],
#menuContent input[type=submit] {
    text-decoration: none;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 0.5em;
    cursor: pointer;
    background: white;
    text-align: center;
    font-weight: bold;
}

#menuContent a:hover,
#menuContent input[type=button]:hover,
#menuContent input[type=submit]:hover {
    border-color: #0f4257;
    color: darkorange;
}

#menuContent input {
    font-size: inherit;
    text-decoration: none;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 0.5em;
}

#menuContent input:hover {
    border-color: #0f4257;
}

/* table of contents - display ----------------------------------------------*/

#tocDisplay {
    background: white;
    border-radius: 20px;
    box-shadow: 10px 10px rgba(100, 100, 100, 0.125);
    width: 90vw;
    height: 80vh;
    position: fixed;
    top: 10vh;
    left: 5vw;
    border: 2px solid lightgray;
    overflow-y: auto;
}

/* close button */
#tocDisplay > a {
    color: #0f4257;
    text-decoration: none;
    padding: 0.25em;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    font-size: 2em;
    height: 2em;
    width: 2em;
    display: block;
    text-align: center;
    vertical-align: center;
    top: 0;
    right: 0;
    background: white;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    opacity: 0.8;
    border: 2px solid lightgray;
    border-top: none;
    border-right: none;
}

#tocDisplay > a:hover {
    opacity: 1;
    border-color: #0f4257;
}

#tocDisplay:hover {
    opacity: 1;
}

#tocDisplay.hidden {
    display: none;
}

#tocDisplay.shown {
    display: block;
}

#tocDisplay ul, #tocDisplay li {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tocDisplay > ul {
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    height: available;
    overflow-y: auto;
}

#tocDisplay > ul > li {
    padding-top: 1em;
    font-weight: bold;
}

#tocDisplay > ul > li > ul {
    padding-left: 1em;
}

#tocDisplay ul a {
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
}

#tocDisplay a:hover {
    color: darkorange;
}

/* animated highlight https://stackoverflow.com/a/41391835 */
.taskHighlight {
    animation-duration: 0.25s;
    animation-iteration-count: 3;
    animation-name: turnYellow;
}

@keyframes turnYellow {
    0% {
        background-color: initial
    }
    100% {
        background-color: rgba(255, 255, 0, 0.5)
    }
}

/* search -------------------------------------------------------------------*/

section.searchMatch {
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-name: blinkGreen;
}

section.noSearchMatch {
    display: none;
}

@keyframes blinkGreen {
    0% {
        background-color: initial
    }
    50% {
        background-color: rgba(0, 255, 0, 0.5)
    }
    100% {
        background-color: initial
    }
}

/* login menu ---------------------------------------------------------------*/

#menu #app form {
    display: flex;
    flex-direction: column;
}

/* breakpoint: 400px width --------------------------------------------------*/

@media screen and (min-width: 400px) {
    header h1, header h2 {
        display: block;
    }

    .taskDetails {
        display: grid;
        grid-template-columns: 50vw 45vw;
        grid-template-areas:
                "template links";
    }

    .taskLinks {
        grid-area: links;
        flex-direction: column;
        min-height: 55vh;
    }

    .taskLinks a {
        width: 90%;
    }

    .taskTemplate {
        grid-area: template;
        justify-content: center;
    }

    #tocDisplay {
        width: 70vw;
        height: 70vh;
        top: 15vh;
        left: 15vw;
    }
}

/* breakpoint: 600px width --------------------------------------------------*/

@media screen and (min-width: 600px) {
    #menu {
        top: 0px;
    }
}

/* breakpoint: 800px width --------------------------------------------------*/

/* two column layout */
@media screen and (min-width: 800px) {
    article {
        display: flex;
        flex-wrap: wrap;
    }

    section {
        width: 49vw; /* 50 doesn't work because of scroll bar width */
    }

    section:nth-child(odd) {
        border: none;
    }

    /* checkerboard layout
        source: https://www.stphnsn.com/blog/alternating-boxes/ */
    section:nth-child(1n) {
        background-color: white;
    }

    section:nth-child(4n+1),
    section:nth-child(4n+4) {
        background-color: var(--alternate-color);
        border: 2px solid lightgray;
        border-radius: 10px;
    }

    .taskDetails {
        grid-template-columns: 34vw 15vw; /* = section width */
    }

    .taskLinks a {
        color: lightgray;
        border-color: transparent;
    }

    .taskLinks a:after {
        content: " ";
    }

    .taskLinks a:hover {
        border-color: #0f4257;
    }

    section:hover .taskLinks a {
        color: #0f4257;
        border: 2px solid lightgray;
    }

    section:hover .taskLinks a:hover {
        border-color: #0f4257;
    }

    section:hover .taskLinks a:after {
        content: " ↗";
    }

    #menu {
        top: 0px;
    }

    #tocDisplay {
        width: 50vw;
        height: 50vh;
        top: 25vh;
        left: 25vw;
    }
}

/* breakpoint: 1200px width --------------------------------------------------*/

/* three column lyaout */
@media screen and (min-width: 1200px) {
    section {
        width: 32vw;
    }

    /* checkerboard layout */
    section:nth-child(odd) {
        background: var(--alternate-color);
        border: 2px solid lightgray;
        border-radius: 10px;
    }

    section:nth-child(even) {
        background: white;
        border: none;
    }

    .taskDetails {
        grid-template-columns: 22vw 10vw; /* = section width */
    }

    #tocDisplay {
        width: 40vw;
        height: 50vh;
        top: 25vh;
        left: 30vw;
    }
}

/* fixes vor very narrow screens --------------------------------------------*/

@media screen and (max-width: 300px) {
    body {
        overflow-x: hidden;
    }

    header h1 span, header h2 span {
        display: none;
    }
}

/* background colors for debugging ------------------------------------------*/

body.development header {
    background: red;
}

body.development article {
    background: green;
}

body.development footer {
    background: lightcoral;
}

body.development footer div {
    background: violet;
}

body.development section {
    background: black;
}

body.development section h3 {
    background: brown;
}

body.development section h4 {
    background: cadetblue;
}

body.development section {
    background: yellow;
}

body.development .taskInfo {
    background: purple;
}

body.development .taskDetails {
    background: skyblue;
}

body.development .taskDetails .taskTemplate {
    background: forestgreen;
}

body.development .taskDetails .taskLinks {
    background: orange;
}