
* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    color: #0f4257;
    margin: 0;
    padding: 0;
}

:root {
    font-size: clamp(12px, calc(0.75rem + ((1vw - 3px) * 0.3704)), 18px);
    min-height: 0vw; /* safari fix */
    --alternate-color: #d6eef8;
}

/* main grid ----------------------------------------------------------------*/

body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 15vh auto 10vh;
    grid-template-areas:
                "header"
                "article"
                "footer";
}

header {
    grid-area: header;
    padding: 0.25em;
}

header h1, header h2 {
    display: inline;
}

article {
    grid-area: article;
}

section:nth-child(odd) {
    background: var(--alternate-color);
    border: 2px solid lightgray;
    border-radius: 10px;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

footer div {
    width: 25%;
    text-align: center;
}

/* sections -----------------------------------------------------------------*/

section {
    min-height: 75vh; /* as tall as article area of main grid */
}

section h3 {
    min-height: 5vh;
    padding: 0.25em;
}

section h4 {
    min-height: 5vh;
    padding: 0.25em;
}

section .task {
    min-height: 65vh;
}

/* tasks --------------------------------------------------------------------*/

.task .taskInfo {
    min-height: 10vh;
    padding: 0.25em 0.25em 0.25em 2em;
}

.task .taskDetails {
    height: 55vh;
}

.taskDetails .links {
    font-weight: bold;
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.taskDetails .template {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.taskDetails .template > * {
    max-width: 90%;
    max-height: 100%;
    border: 2px solid lightgray;
    border-radius: 5px;
}

.taskDetails .template > img {
    /* source: https://stackoverflow.com/a/30794589 */
    object-fit: cover;
}

/* breakpoint: 400px width --------------------------------------------------*/

@media screen and (min-width: 400px) {
    header h1, header h2 {
        display: block;
    }

    .taskDetails {
        display: grid;
        grid-template-columns: 20vw 79vw;
        grid-template-areas:
                "links template";
    }

    .taskDetails .links {
        grid-area: links;
        flex-direction: column;
        min-height: 55vh;
    }

    .taskDetails .template {
        grid-area: template;
    }
}

/* breakpoint: 600px width --------------------------------------------------*/

@media screen and (min-width: 600px) {
    article {
        display: flex;
        flex-wrap: wrap;
    }

    article > section {
        width: 49vw; /* 50 doesn't work */
    }

    section:nth-child(odd) {
        border: none;
    }

    /* source: https://www.stphnsn.com/blog/alternating-boxes/*/
    section:nth-child(1n) {
        background-color: white;
    }

    section:nth-child(4n+1),
    section:nth-child(4n+4) {
        background-color: var(--alternate-color);
        border: 2px solid lightgray;
        border-radius: 10px;
    }

    .taskDetails {
        grid-template-columns: 15vw 34vw;
    }

    .taskDetails .links{
        align-content: flex-end;
    }
}

/* breakpoint: 1200px width --------------------------------------------------*/

@media screen and (min-width: 1200px) {
    article > section {
        width: 32vw;
    }

    section:nth-child(odd) {
        background: var(--alternate-color);
        border: 2px solid lightgray;
        border-radius: 10px;
    }

    section:nth-child(even) {
        background: white;
        border: none;
    }

    .taskDetails {
        grid-template-columns: 7vw 25vw;
    }
}

/* fixes vor very narrow screens --------------------------------------------*/

@media screen and (max-width: 300px) {
    body {
        overflow-x: hidden;
    }

    header h1 span, header h2 span {
        display: none;
    }
}

/* background colors for debugging ------------------------------------------*/

body.development header {
    background: red;
}

body.development article {
    background: green;
}

body.development footer {
    background: lightcoral;
}

body.development footer div {
    background: violet;
}

body.development section {
    background: black;
}

body.development section h3 {
    background: brown;
}

body.development section h4 {
    background: cadetblue;
}

body.development section .task {
    background: yellow;
}

body.development .task .taskInfo {
    background: purple;
}

body.development .task .taskDetails {
    background: skyblue;
}

body.development .taskDetails .template {
    background: forestgreen;
}

body.development .taskDetails .links {
    background: orange;
}